<!-- Copyright (c) [2016] [David Walker] - MIT License - see License.txt -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.SharedSource.ListRenderer.FieldsPropertyKey" value="Fields" />
      <setting name="Sitecore.SharedSource.ListRenderer.TemplatesExcludedPropertyKey" value="Templates Excluded" />
      <setting name="Sitecore.SharedSource.ListRenderer.TemplatesIncludedPropertyKey" value="Templates Included" />
      <setting name="Sitecore.SharedSource.ListRenderer.ListFormatPropertyKey" value="List Format" />
      <setting name="Sitecore.SharedSource.ListRenderer.ItemFormatPropertyKey" value="Item Format" />
      <setting name="Sitecore.SharedSource.ListRenderer.SeparatorPropertyKey" value="Separator" />
      <setting name="Sitecore.SharedSource.ListRenderer.OtherTextPropertyKey" value="Other Text" />
      <setting name="Sitecore.SharedSource.ListRenderer.BreadcrumbDataSourceKey" value="{5F7C869E-C630-4027-B0FF-407275D7F1B8}" />
      <setting name="Sitecore.SharedSource.ListRenderer.DataFormatTokenKey" value="{Data}" />
      <setting name="Sitecore.SharedSource.ListRenderer.DataSourceTemplateId" value="{F997B3CF-6CDE-404D-9921-8A3A8B70C9F6}" />
      <!--<setting name="Sitecore.SharedSource.ListRenderer.ItemFormatDefault" value="&lt;li id=&quot;{1}&quot;&gt;{0}&lt;/li&gt;" />-->
    </settings>
  </sitecore>
</configuration>